.surchargeOnlineFormInput > * {
  margin-left: 11px;
  margin-top: 2px;
  margin-bottom: 2px;
}

.inputLabelTextFieldValign > * {
  vertical-align: -webkit-baseline-middle;
}

.inputNoBorder > * {
  border-bottom: 0px;
}

.inputShift {
  margin-left: 11px;
}
