.loadingSpinner {
  left: 35vw;
  position: absolute;
  color: black;
  background-color: white;
  min-width: 100px;
  min-height: 50px;
  border-style: solid;
  border-width: 1px;
  box-shadow: 5px 4px lightgray;
}
